@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-serif: var(--font-serif);
  --font-heading: var(--font-heading);
}

@layer base {
  body {
    @apply bg-background text-foreground font-sans;
    @apply p-4 md:p-8;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-heading font-bold;
  }
  
  form {
    @apply space-y-4;
  }

  form input, form label {
    @apply block;
  }
}
